@model UserInputViewModel
@if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMessage))
{
    <article class="message is-warning">
        <div class="message-header">
            <p>Data was not saved.</p>
        </div>
        <div class="message-body">
            @ViewBag.ErrorMessage
        </div>
    </article>
}

<form asp-route="Update">
    <div class="field">
        <label class="label" asp-for="FirstName">First Name</label>
        <div class="control">
            <input class="input" type="text" asp-for="FirstName" />
        </div>
    </div>
    <div class="field">
        <label class="label" asp-for="LastName">Last Name</label>
        <div class="control">
            <input class="input" type="text" asp-for="LastName" />
        </div>
    </div>
    <div class="field">
        <div class="control">
            <input type="hidden" id="userId" value="@ViewBag.UserId" />
        </div>
    </div>
    
    <div class="field">
        <div class="control">
            <button class="button is-primary">Submit</button>
        </div>
        <div class="control">
            <button asp-controller="Users" asp-action="Index" class="button is-light">Cancel</button>
        </div>
    </div>
</form>